#quote-box {
    background-color: #b9d4a2;
    width: 50%;
    padding: 20px;
    margin: 20% auto;
    border-radius: 20px;
    font-family: "Open Sans";
    font-size: 30px;
}

#text, #author {
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: space-evenly;
}

#new-quote, #tweet-quote{
    width: 30%;
    border: none;
    background-color: #73A857;
    text-align: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 21px;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    margin: auto;
}

#tweet-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.icon-wrapper {
    padding: 0px 5px 10px 5px;
}   

.quote-icon {
    color: #73A857;
}

@media only screen and (max-width: 600px) {
    #quote-box { font-size: 14px; }
    #new-quote, #tweet-quote { font-size: 10px; }
}
